In [1]:
file = open("sobrepython.txt", "r", encoding="utf-8")

In [2]:
file

In [3]:
file.readlines()

['Python é uma linguagem de programação de alto nível,[4] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.\n',
 '\n',
 'A linguagem foi projetada com a filosofia de enfatizar a importância do esforço do programador sobre o esforço computacional. Prioriza a legibilidade do código sobre a velocidade ou expressividade. Combina uma sintaxe concisa e clara com os recursos poderosos de sua biblioteca padrão e por módulos e frameworks desenvolvidos por terceiros.\n',
 '\n',
 'Python é uma linguagem de propósito geral de alto nível, multiparadigma, suporta o paradigma orientado a objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais características é permitir a fácil leitura do código e exigir poucas linhas de código se comparado ao mesmo programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web. Foi considerada pelo público a 3ª linguagem "mais amada", de acordo com uma pesquisa conduzida pelo site Stack Overflow em 2018,[5] e está entre as 5 linguagens mais populares, de acordo com uma pesquisa conduzida pela RedMonk.[6]\n',
 '\n',
 "O nome Python teve a sua origem no grupo humorístico britânico Monty Python,[7] criador do programa Monty Python's Flying Circus, embora muitas pessoas façam associação com o réptil do mesmo nome (em português, píton ou pitão).\n",
 '\n',
 'Fonte: https://pt.wikipedia.org/wiki/Python']

In [4]:
file.seek(0)

0

In [5]:
file.readlines()

['Python é uma linguagem de programação de alto nível,[4] interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. Foi lançada por Guido van Rossum em 1991.[1] Atualmente possui um modelo de desenvolvimento comunitário, aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. Apesar de várias partes da linguagem possuírem padrões e especificações formais, a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython.\n',
 '\n',
 'A linguagem foi projetada com a filosofia de enfatizar a importância do esforço do programador sobre o esforço computacional. Prioriza a legibilidade do código sobre a velocidade ou expressividade. Combina uma sintaxe concisa e clara com os recursos poderosos de sua biblioteca padrão e por módulos e frameworks desenvolvidos por terceiros.\n',
 '\n',
 'Python é uma linguagem de propósito geral de alto nível, multiparadigma, suporta o paradigma orientado a objetos, imperativo, funcional e procedural. Possui tipagem dinâmica e uma de suas principais características é permitir a fácil leitura do código e exigir poucas linhas de código se comparado ao mesmo programa em outras linguagens. Devido às suas características, ela é principalmente utilizada para processamento de textos, dados científicos e criação de CGIs para páginas dinâmicas para a web. Foi considerada pelo público a 3ª linguagem "mais amada", de acordo com uma pesquisa conduzida pelo site Stack Overflow em 2018,[5] e está entre as 5 linguagens mais populares, de acordo com uma pesquisa conduzida pela RedMonk.[6]\n',
 '\n',
 "O nome Python teve a sua origem no grupo humorístico britânico Monty Python,[7] criador do programa Monty Python's Flying Circus, embora muitas pessoas façam associação com o réptil do mesmo nome (em português, píton ou pitão).\n",
 '\n',
 'Fonte: https://pt.wikipedia.org/wiki/Python']

In [6]:
file2 = open("AAPL.csv", 'r', encoding="utf-8")

In [7]:
file2.readlines()

['Date,Open,High,Low,Close,Adj Close,Volume\n',
 '2018-07-18,191.779999,191.800003,189.929993,190.399994,187.545181,16393400\n',
 '2018-07-19,189.690002,192.550003,189.690002,191.880005,189.003006,20286800\n',
 '2018-07-20,191.779999,192.429993,190.169998,191.440002,188.569595,20676200\n',
 '2018-07-23,190.679993,191.960007,189.559998,191.610001,188.737030,15989400\n',
 '2018-07-24,192.449997,193.660004,192.050003,193.000000,190.106216,18697900\n',
 '2018-07-25,193.059998,194.850006,192.429993,194.820007,191.898926,16709900\n',
 '2018-07-26,194.610001,195.960007,193.610001,194.210007,191.298080,19076000\n',
 '2018-07-27,194.990005,195.190002,190.100006,190.979996,188.116501,24024000\n',
 '2018-07-30,191.899994,192.199997,189.070007,189.910004,187.062546,21029500\n',
 '2018-07-31,190.300003,192.139999,189.339996,190.289993,187.436829,39373000\n',
 '2018-08-01,199.130005,201.759995,197.309998,201.500000,198.478760,67935700\n',
 '2018-08-02,200.580002,208.380005,200.350006,207.389999,204.280457,62404000\n',
 '2018-08-03,207.029999,208.740005,205.479996,207.990005,204.871445,33447400\n',
 '2018-08-06,208.000000,209.250000,207.070007,209.070007,205.935257,25425400\n',
 '2018-08-07,209.320007,209.500000,206.759995,207.110001,204.004639,25587400\n',
 '2018-08-08,206.050003,207.809998,204.520004,207.250000,204.142532,22525500\n',
 '2018-08-09,209.529999,209.779999,207.199997,208.880005,205.748108,23492600\n',
 '2018-08-10,207.360001,209.100006,206.669998,207.529999,205.135254,24611200\n',
 '2018-08-13,209.309998,210.949997,207.699997,208.869995,206.459793,25890900\n',
 '2018-08-14,210.160004,210.559998,208.259995,209.750000,207.329651,20748000\n',
 '2018-08-15,209.220001,210.740005,208.330002,210.240005,207.813995,28807600\n',
 '2018-08-16,211.750000,213.809998,211.470001,213.320007,210.858459,28500400\n',
 '2018-08-17,213.440002,217.949997,213.160004,217.580002,215.069290,35427000\n',
 '2018-08-20,218.100006,219.179993,215.110001,215.460007,212.973755,30287700\n',
 '2018-08-21,216.800003,217.190002,214.029999,215.039993,212.558609,26159800\n',
 '2018-08-22,214.100006,216.360001,213.839996,215.050003,212.568481,19018100\n',
 '2018-08-23,214.649994,217.050003,214.600006,215.490005,213.003418,18883200\n',
 '2018-08-24,216.600006,216.899994,215.110001,216.160004,213.665680,18476400\n',
 '2018-08-27,217.149994,218.740005,216.330002,217.940002,215.425140,20525100\n',
 '2018-08-28,219.009995,220.539993,218.919998,219.699997,217.164825,22776800\n',
 '2018-08-29,220.149994,223.490005,219.410004,222.979996,220.406982,27254800\n',
 '2018-08-30,223.250000,228.259995,222.399994,225.029999,222.433319,48793800\n',
 '2018-08-31,226.509995,228.869995,226.000000,227.630005,225.003342,43340100\n',
 '2018-09-04,228.410004,229.179993,226.630005,228.360001,225.724899,27390100\n',
 '2018-09-05,228.990005,229.669998,225.100006,226.869995,224.252090,33333000\n',
 '2018-09-06,226.229996,227.350006,221.300003,223.100006,220.525604,34290000\n',
 '2018-09-07,221.850006,225.369995,220.710007,221.300003,218.746384,37619800\n',
 '2018-09-10,220.949997,221.850006,216.470001,218.330002,215.810654,39516500\n',
 '2018-09-11,218.009995,224.300003,216.559998,223.850006,221.266953,35749000\n',
 '2018-09-12,224.940002,225.000000,219.839996,221.070007,218.519043,49278700\n',
 '2018-09-13,223.520004,228.350006,222.570007,226.410004,223.797409,41706400\n',
 '2018-09-14,225.750000,226.839996,222.520004,223.839996,221.257050,31999300\n',
 '2018-09-17,222.149994,222.949997,217.270004,217.880005,215.365845,37195100\n',
 '2018-09-18,217.789993,221.850006,217.119995,218.240005,215.721680,31571700\n',
 '2018-09-19,218.500000,219.619995,215.300003,218.369995,215.850189,27123800\n',
 '2018-09-20,220.240005,222.279999,219.149994,220.029999,217.491013,26608800\n',
 '2018-09-21,220.779999,221.360001,217.289993,217.660004,215.148376,96246700\n',
 '2018-09-24,216.820007,221.259995,216.630005,220.789993,218.242233,27693400\n',
 '2018-09-25,219.750000,222.820007,219.699997,222.190002,219.626099,24554400\n',
 '2018-09-26,221.000000,223.750000,219.759995,220.419998,217.876511,23984700\n',
 '2018-09-27,223.820007,226.440002,223.539993,224.949997,222.354248,30181200\n',
 '2018-09-28,224.789993,225.839996,224.020004,225.740005,223.135147,22929400\n',
 '2018-10-01,227.949997,229.419998,226.350006,227.259995,224.637604,23600800\n',
 '2018-10-02,227.250000,230.000000,226.630005,229.279999,226.634293,24788200\n',
 '2018-10-03,230.050003,233.470001,229.779999,232.070007,229.392090,28654800\n',
 '2018-10-04,230.779999,232.350006,226.729996,227.990005,225.359177,32042000\n',
 '2018-10-05,227.960007,228.410004,220.580002,224.289993,221.701859,33580500\n',
 '2018-10-08,222.210007,224.800003,220.199997,223.770004,221.187866,29663900\n',
 '2018-10-09,223.639999,227.270004,222.250000,226.869995,224.252090,26891000\n',
 '2018-10-10,225.460007,226.350006,216.050003,216.360001,213.863373,41990600\n',
 '2018-10-11,214.520004,219.500000,212.320007,214.449997,211.975418,53124400\n',
 '2018-10-12,220.419998,222.880005,216.839996,222.110001,219.547028,40337900\n',
 '2018-10-15,221.160004,221.830002,217.270004,217.360001,214.851822,30791000\n',
 '2018-10-16,218.929993,222.990005,216.759995,222.149994,219.586548,29184000\n',
 '2018-10-17,222.300003,222.639999,219.339996,221.190002,218.637650,22885400\n',
 '2018-10-18,217.860001,219.740005,213.000000,216.020004,213.527298,32581300\n',
 '2018-10-19,218.059998,221.259995,217.429993,219.309998,216.779327,33078700\n',
 '2018-10-22,219.789993,223.360001,218.940002,220.649994,218.103851,28792100\n',
 '2018-10-23,215.830002,223.250000,214.699997,222.729996,220.159851,38767800\n',
 '2018-10-24,222.600006,224.229996,214.539993,215.089996,212.608017,40925500\n',
 '2018-10-25,217.710007,221.380005,216.750000,219.800003,217.263672,29855800\n',
 '2018-10-26,215.899994,220.190002,212.669998,216.300003,213.804077,47258400\n',
 '2018-10-29,219.190002,219.690002,206.089996,212.240005,209.790924,45935500\n',
 '2018-10-30,211.149994,215.179993,209.270004,213.300003,210.838684,36660000\n',
 '2018-10-31,216.880005,220.449997,216.619995,218.860001,216.334518,38358900\n',
 '2018-11-01,219.050003,222.360001,216.809998,222.220001,219.655762,58323200\n',
 '2018-11-02,209.550003,213.649994,205.429993,207.479996,205.085831,91328700\n',
 '2018-11-05,204.300003,204.389999,198.169998,201.589996,199.263809,66163700\n',
 '2018-11-06,201.919998,204.720001,201.690002,203.770004,201.418655,31882900\n',
 '2018-11-07,205.970001,210.059998,204.130005,209.949997,207.527328,33424400\n',
 '2018-11-08,209.979996,210.119995,206.750000,208.490005,206.803253,25362600\n',
 '2018-11-09,205.550003,206.009995,202.250000,204.470001,202.815765,34365800\n',
 '2018-11-12,199.000000,199.850006,193.789993,194.169998,192.599106,51135500\n',
 '2018-11-13,191.630005,197.179993,191.449997,192.229996,190.674789,46882900\n',
 '2018-11-14,193.899994,194.479996,185.929993,186.800003,185.288742,60801000\n',
 '2018-11-15,188.389999,191.970001,186.899994,191.410004,189.861435,46478800\n',
 '2018-11-16,190.500000,194.970001,189.460007,193.529999,191.964279,36928300\n',
 '2018-11-19,190.000000,190.699997,184.990005,185.860001,184.356339,41925300\n',
 '2018-11-20,178.369995,181.470001,175.509995,176.979996,175.548157,67825200\n',
 '2018-11-21,179.729996,180.270004,176.550003,176.779999,175.349792,31124200\n',
 '2018-11-23,174.940002,176.600006,172.100006,172.289993,170.896118,23624000\n',
 '2018-11-26,174.240005,174.949997,170.259995,174.619995,173.207260,44998500\n',
 '2018-11-27,171.509995,174.770004,170.880005,174.240005,172.830338,41387400\n',
 '2018-11-28,176.729996,181.289993,174.929993,180.940002,179.476135,46062500\n',
 '2018-11-29,182.660004,182.800003,177.699997,179.550003,178.097382,41770000\n',
 '2018-11-30,180.289993,180.330002,177.029999,178.580002,177.135223,39531500\n',
 '2018-12-03,184.460007,184.940002,181.210007,184.820007,183.324753,40802500\n',
 '2018-12-04,180.949997,182.389999,176.270004,176.690002,175.260513,41344300\n',
 '2018-12-06,171.759995,174.779999,170.419998,174.720001,173.306473,43098400\n',
 '2018-12-07,173.490005,174.490005,168.300003,168.490005,167.126862,42281600\n',
 '2018-12-10,165.000000,170.089996,163.330002,169.600006,168.227890,62026000\n',
 '2018-12-11,171.660004,171.789993,167.000000,168.630005,167.265732,47281700\n',
 '2018-12-12,170.399994,171.919998,169.020004,169.100006,167.731934,35627700\n',
 '2018-12-13,170.490005,172.570007,169.550003,170.949997,169.566956,31898600\n',
 '2018-12-14,169.000000,169.080002,165.279999,165.479996,164.141220,40703700\n',
 '2018-12-17,165.449997,168.350006,162.729996,163.940002,162.613678,44287900\n',
 '2018-12-18,165.380005,167.529999,164.389999,166.070007,164.726440,33841500\n',
 '2018-12-19,166.000000,167.449997,159.089996,160.889999,159.588348,49047300\n',
 '2018-12-20,160.399994,162.110001,155.300003,156.830002,155.561188,64773000\n',
 '2018-12-21,156.860001,158.160004,149.630005,150.729996,149.510544,95744600\n',
 '2018-12-24,148.149994,151.550003,146.589996,146.830002,145.642090,37169200\n',
 '2018-12-26,148.300003,157.229996,146.720001,157.169998,155.898438,58582500\n',
 '2018-12-27,155.839996,156.770004,150.070007,156.149994,154.886688,53117100\n',
 '2018-12-28,157.500000,158.520004,154.550003,156.229996,154.966034,42291400\n',
 '2018-12-31,158.529999,159.360001,156.479996,157.740005,156.463837,35003500\n',
 '2019-01-02,154.889999,158.850006,154.229996,157.919998,156.642365,37039700\n',
 '2019-01-03,143.979996,145.720001,142.000000,142.190002,141.039642,91312200\n',
 '2019-01-04,144.529999,148.550003,143.800003,148.259995,147.060516,58607100\n',
 '2019-01-07,148.699997,148.830002,145.899994,147.929993,146.733185,54777800\n',
 '2019-01-08,149.559998,151.820007,148.520004,150.750000,149.530380,41025300\n',
 '2019-01-09,151.289993,154.529999,149.630005,153.309998,152.069672,45099100\n',
 '2019-01-10,152.500000,153.970001,150.860001,153.800003,152.555710,35780700\n',
 '2019-01-11,152.880005,153.699997,151.509995,152.289993,151.057922,27023200\n',
 '2019-01-14,150.850006,151.270004,149.220001,150.000000,148.786438,32439200\n',
 '2019-01-15,150.270004,153.389999,150.050003,153.070007,151.831619,28710900\n',
 '2019-01-16,153.080002,155.880005,153.000000,154.940002,153.686493,30569700\n',
 '2019-01-17,154.199997,157.660004,153.259995,155.860001,154.599045,29821200\n',
 '2019-01-18,157.500000,157.880005,155.979996,156.820007,155.551285,33751000\n',
 '2019-01-22,156.410004,156.729996,152.619995,153.300003,152.059753,30394000\n',
 '2019-01-23,154.149994,155.139999,151.699997,153.919998,152.674728,23130600\n',
 '2019-01-24,154.110001,154.479996,151.740005,152.699997,151.464615,25441500\n',
 '2019-01-25,155.479996,158.130005,154.320007,157.759995,156.483673,33535500\n',
 '2019-01-28,155.789993,156.330002,153.660004,156.300003,155.035492,26192100\n',
 '2019-01-29,156.250000,158.130005,154.110001,154.679993,153.428589,41587200\n',
 '2019-01-30,163.250000,166.149994,160.229996,165.250000,163.913071,61109800\n',
 '2019-01-31,166.110001,169.000000,164.559998,166.440002,165.093445,40739600\n',
 '2019-02-01,166.960007,168.979996,165.929993,166.520004,165.172806,32668100\n',
 '2019-02-04,167.410004,171.660004,167.279999,171.250000,169.864532,31495500\n',
 '2019-02-05,172.860001,175.080002,172.350006,174.179993,172.770813,36101600\n',
 '2019-02-06,174.649994,175.570007,172.850006,174.240005,172.830338,28239600\n',
 '2019-02-07,172.399994,173.940002,170.339996,170.940002,169.557037,31741700\n',
 '2019-02-08,168.990005,170.660004,168.419998,170.410004,169.756271,23820000\n',
 '2019-02-11,171.050003,171.210007,169.250000,169.429993,168.780029,20993400\n',
 '2019-02-12,170.100006,171.000000,169.699997,170.889999,170.234436,22283500\n',
 '2019-02-13,171.389999,172.479996,169.919998,170.179993,169.527145,22490200\n',
 '2019-02-14,169.710007,171.259995,169.380005,170.800003,170.144775,21835700\n',
 '2019-02-15,171.250000,171.699997,169.750000,170.419998,169.766235,24626800\n',
 '2019-02-19,169.710007,171.440002,169.490005,170.929993,170.274261,18972800\n',
 '2019-02-20,171.190002,173.320007,170.990005,172.029999,171.370056,26114400\n',
 '2019-02-21,171.800003,172.369995,170.300003,171.059998,170.403778,17249700\n',
 '2019-02-22,171.580002,173.000000,171.380005,172.970001,172.306458,18913200\n',
 '2019-02-25,174.160004,175.869995,173.949997,174.229996,173.561615,21873400\n',
 '2019-02-26,173.710007,175.300003,173.169998,174.330002,173.661240,17070200\n',
 '2019-02-27,173.210007,175.000000,172.729996,174.869995,174.199158,27835400\n',
 '2019-02-28,174.320007,174.910004,172.919998,173.149994,172.485748,28215400\n',
 '2019-03-01,174.279999,175.149994,172.889999,174.970001,174.298782,25886200\n',
 '2019-03-04,175.690002,177.750000,173.970001,175.850006,175.175415,27436200\n',
 '2019-03-05,175.940002,176.000000,174.539993,175.529999,174.856628,19737400\n',
 '2019-03-06,174.669998,175.490005,173.940002,174.520004,173.850510,20810400\n',
 '2019-03-07,173.869995,174.440002,172.020004,172.500000,171.838257,24796400\n',
 '2019-03-08,170.320007,173.070007,169.500000,172.910004,172.246689,23999400\n',
 '2019-03-11,175.490005,179.119995,175.350006,178.899994,178.213699,32011000\n',
 '2019-03-12,180.000000,182.669998,179.369995,180.910004,180.215988,32467600\n',
 '2019-03-13,182.250000,183.300003,180.919998,181.710007,181.012924,31032500\n',
 '2019-03-14,183.899994,184.100006,182.559998,183.729996,183.025162,23579500\n',
 '2019-03-15,184.850006,187.330002,183.740005,186.119995,185.406006,39042900\n',
 '2019-03-18,185.800003,188.389999,185.789993,188.020004,187.298721,26219800\n',
 '2019-03-19,188.350006,188.990005,185.919998,186.529999,185.814423,31646400\n',
 '2019-03-20,186.229996,189.490005,184.729996,188.160004,187.438187,31035200\n',
 '2019-03-21,190.020004,196.330002,189.809998,195.089996,194.341583,51034200\n',
 '2019-03-22,195.339996,197.690002,190.779999,191.050003,190.317093,42407700\n',
 '2019-03-25,191.509995,191.979996,186.600006,188.740005,188.015961,43845300\n',
 '2019-03-26,191.660004,192.880005,184.580002,186.789993,186.073425,49800500\n',
 '2019-03-27,188.750000,189.759995,186.550003,188.470001,187.746994,29848400\n',
 '2019-03-28,188.949997,189.559998,187.529999,188.720001,187.996033,20780400\n',
 '2019-03-29,189.830002,190.080002,188.539993,189.949997,189.221313,23564000\n',
 '2019-04-01,191.639999,191.679993,188.380005,191.240005,190.506363,27862000\n',
 '2019-04-02,191.089996,194.460007,191.050003,194.020004,193.275696,22765700\n',
 '2019-04-03,193.250000,196.500000,193.149994,195.350006,194.600601,23271800\n',
 '2019-04-04,194.789993,196.369995,193.139999,195.690002,194.939301,19114300\n',
 '2019-04-05,196.449997,197.100006,195.929993,197.000000,196.244263,18526600\n',
 '2019-04-08,196.419998,200.229996,196.339996,200.100006,199.332382,25881700\n',
 '2019-04-09,200.320007,202.850006,199.229996,199.500000,198.734680,35768200\n',
 '2019-04-10,198.679993,200.740005,198.179993,200.619995,199.850372,21695300\n',
 '2019-04-11,200.850006,201.000000,198.440002,198.949997,198.186783,20900800\n',
 '2019-04-12,199.199997,200.139999,196.210007,198.869995,198.107086,27760700\n',
 '2019-04-15,198.580002,199.850006,198.009995,199.229996,198.465714,17536600\n',
 '2019-04-16,199.460007,201.369995,198.559998,199.250000,198.485641,25696400\n',
 '2019-04-17,199.539993,203.380005,198.610001,203.130005,202.350754,28906800\n',
 '2019-04-18,203.119995,204.149994,202.520004,203.860001,203.077957,24195800\n',
 '2019-04-22,202.830002,204.940002,202.339996,204.529999,203.745377,19439500\n',
 '2019-04-23,204.429993,207.750000,203.899994,207.479996,206.684052,23323000\n',
 '2019-04-24,207.360001,208.479996,207.050003,207.160004,206.365295,17540600\n',
 '2019-04-25,206.830002,207.759995,205.119995,205.279999,204.492508,18543200\n',
 '2019-04-26,204.899994,205.000000,202.119995,204.300003,203.516266,18649100\n',
 '2019-04-29,204.399994,205.970001,203.860001,204.610001,203.825073,22204700\n',
 '2019-04-30,203.059998,203.399994,199.110001,200.669998,199.900192,46534900\n',
 '2019-05-01,209.880005,215.309998,209.229996,210.520004,209.712402,64827300\n',
 '2019-05-02,209.839996,212.649994,208.130005,209.149994,208.347656,31996300\n',
 '2019-05-03,210.889999,211.839996,210.229996,211.750000,210.937683,20892400\n',
 '2019-05-06,204.289993,208.839996,203.500000,208.479996,207.680222,32443100\n',
 '2019-05-07,205.880005,207.419998,200.830002,202.860001,202.081787,38763700\n',
 '2019-05-08,201.899994,205.339996,201.750000,202.899994,202.121628,26339500\n',
 '2019-05-09,200.399994,201.679993,196.660004,200.720001,199.949997,34908600\n',
 '2019-05-10,197.419998,198.850006,192.770004,197.179993,197.179993,41208700\n',
 '2019-05-13,187.710007,189.479996,182.850006,185.720001,185.720001,57430600\n',
 '2019-05-14,186.410004,189.699997,185.410004,188.660004,188.660004,36529700\n',
 '2019-05-15,186.270004,191.750000,186.020004,190.919998,190.919998,26544700\n',
 '2019-05-16,189.910004,192.470001,188.839996,190.080002,190.080002,33031400\n',
 '2019-05-17,186.929993,190.899994,186.759995,189.000000,189.000000,32879100\n',
 '2019-05-20,183.520004,184.350006,180.279999,183.089996,183.089996,38612300\n',
 '2019-05-21,185.220001,188.000000,184.699997,186.600006,186.600006,28364800\n',
 '2019-05-22,184.660004,185.710007,182.550003,182.779999,182.779999,29748600\n',
 '2019-05-23,179.800003,180.539993,177.809998,179.660004,179.660004,36529700\n',
 '2019-05-24,180.199997,182.139999,178.619995,178.970001,178.970001,23714700\n',
 '2019-05-28,178.919998,180.589996,177.910004,178.229996,178.229996,27948200\n',
 '2019-05-29,176.419998,179.350006,176.000000,177.380005,177.380005,28481200\n',
 '2019-05-30,177.949997,179.229996,176.669998,178.300003,178.300003,21218400\n',
 '2019-05-31,176.229996,177.990005,174.990005,175.070007,175.070007,27043600\n',
 '2019-06-03,175.600006,177.919998,170.270004,173.300003,173.300003,40396100\n',
 '2019-06-04,175.440002,179.830002,174.520004,179.639999,179.639999,30968000\n',
 '2019-06-05,184.279999,184.990005,181.139999,182.539993,182.539993,29773400\n',
 '2019-06-06,183.080002,185.470001,182.149994,185.220001,185.220001,22526300\n',
 '2019-06-07,186.509995,191.919998,185.770004,190.149994,190.149994,30684400\n',
 '2019-06-10,191.809998,195.369995,191.619995,192.580002,192.580002,26220900\n',
 '2019-06-11,194.860001,196.000000,193.600006,194.809998,194.809998,26932900\n',
 '2019-06-12,193.949997,195.970001,193.389999,194.190002,194.190002,18253200\n',
 '2019-06-13,194.699997,196.789993,193.600006,194.149994,194.149994,21674600\n',
 '2019-06-14,191.550003,193.589996,190.300003,192.740005,192.740005,18761500\n',
 '2019-06-17,192.899994,194.960007,192.169998,193.889999,193.889999,14669100\n',
 '2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000\n',
 '2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200\n',
 '2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000\n',
 '2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47800600\n',
 '2019-06-24,198.539993,200.160004,198.169998,198.580002,198.580002,18220400\n',
 '2019-06-25,198.429993,199.259995,195.289993,195.570007,195.570007,21070300\n',
 '2019-06-26,197.770004,200.990005,197.350006,199.800003,199.800003,26067500\n',
 '2019-06-27,200.289993,201.570007,199.570007,199.740005,199.740005,20899700\n',
 '2019-06-28,198.679993,199.500000,197.050003,197.919998,197.919998,31110600\n',
 '2019-07-01,203.169998,204.490005,200.649994,201.550003,201.550003,27316700\n',
 '2019-07-02,201.410004,203.130005,201.360001,202.729996,202.729996,16935200\n',
 '2019-07-03,203.279999,204.440002,202.690002,204.410004,204.410004,11362000\n',
 '2019-07-05,203.350006,205.080002,202.899994,204.229996,204.229996,17265500\n',
 '2019-07-08,200.809998,201.399994,198.410004,200.020004,200.020004,25338600\n',
 '2019-07-09,199.199997,201.509995,198.809998,201.240005,201.240005,20578000\n',
 '2019-07-10,201.850006,203.729996,201.559998,203.229996,203.229996,17897100\n',

In [2]:
import pandas as pd

In [14]:
pd.Series([10,8,7,9])

0    10
1     8
2     7
3     9
dtype: int64

In [15]:
notas = pd.Series([10,8,7,9])

In [16]:
notas.mean()

8.5

In [17]:
notas.sum()

34

In [18]:
notas.std()

1.2909944487358056

In [19]:
df = pd.DataFrame({"Alunos":["Alfredo", "Abel", \
                             "Henrique", "Julia", \
                            "Carlos"], 
                  "Faltas": [1, 8, 4, 0, 2], 
                  "Prova": [10, 9.8, 4.5, 8.5, 7.8]})

In [21]:
df.iloc[0]

Alunos    Alfredo
Faltas          1
Prova          10
Name: 0, dtype: object

In [22]:
df.columns

Index(['Alunos', 'Faltas', 'Prova'], dtype='object')

In [23]:
df.dtypes

Alunos     object
Faltas      int64
Prova     float64
dtype: object

In [24]:
df

     Alunos  Faltas  Prova
0   Alfredo       1   10.0
1      Abel       8    9.8
2  Henrique       4    4.5
3     Julia       0    8.5
4    Carlos       2    7.8

In [26]:
df[df["Prova"] > 8]

    Alunos  Faltas  Prova
0  Alfredo       1   10.0
1     Abel       8    9.8
3    Julia       0    8.5

In [27]:
apple = pd.read_csv("AAPL.csv", sep=",")

In [28]:
apple

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-18,191.779999,191.800003,189.929993,190.399994,187.545181,16393400
1,2018-07-19,189.690002,192.550003,189.690002,191.880005,189.003006,20286800
2,2018-07-20,191.779999,192.429993,190.169998,191.440002,188.569595,20676200
3,2018-07-23,190.679993,191.960007,189.559998,191.610001,188.737030,15989400
4,2018-07-24,192.449997,193.660004,192.050003,193.000000,190.106216,18697900
5,2018-07-25,193.059998,194.850006,192.429993,194.820007,191.898926,16709900
6,2018-07-26,194.610001,195.960007,193.610001,194.210007,191.298080,19076000
7,2018-07-27,194.990005,195.190002,190.100006,190.979996,188.116501,24024000
8,2018-07-30,191.899994,192.199997,189.070007,189.910004,187.062546,21029500
9,2018-07-31,190.300003,192.139999,189.339996,190.289993,187.436829,39373000
10,2018-08-01,199.130005,201.759995,197.309998,201.500000,198.478760,67935700
11,2018-08-02,200.580002,208.380005,200.350006,207.389999,204.280457,62404000
12,2018-08-03,207.029999,208.740005,205.479996,207.990005,204.871445,33447400
13,2018-08-06,208.000000,209.250000,207.070007,209.070007,205.935257,25425400
14,2018-08-07,209.320007,209.500000,206.759995,207.110001,204.004639,25587400
15,2018-08-08,206.050003,207.809998,204.520004,207.250000,204.142532,22525500
16,2018-08-09,209.529999,209.779999,207.199997,208.880005,205.748108,23492600
17,2018-08-10,207.360001,209.100006,206.669998,207.529999,205.135254,24611200
18,2018-08-13,209.309998,210.949997,207.699997,208.869995,206.459793,25890900
19,2018-08-14,210.160004,210.559998,208.259995,209.750000,207.329651,20748000
20,2018-08-15,209.220001,210.740005,208.330002,210.240005,207.813995,28807600
21,2018-08-16,211.750000,213.809998,211.470001,213.320007,210.858459,28500400
22,2018-08-17,213.440002,217.949997,213.160004,217.580002,215.069290,35427000
23,2018-08-20,218.100006,219.179993,215.110001,215.460007,212.973755,30287700
24,2018-08-21,216.800003,217.190002,214.029999,215.039993,212.558609,26159800
25,2018-08-22,214.100006,216.360001,213.839996,215.050003,212.568481,19018100
26,2018-08-23,214.649994,217.050003,214.600006,215.490005,213.003418,18883200
27,2018-08-24,216.600006,216.899994,215.110001,216.160004,213.665680,18476400
28,2018-08-27,217.149994,218.740005,216.330002,217.940002,215.425140,20525100
29,2018-08-28,219.009995,220.539993,218.919998,219.699997,217.164825,22776800
...,...,...,...,...,...,...,...
222,2019-06-06,183.080002,185.470001,182.149994,185.220001,185.220001,22526300
223,2019-06-07,186.509995,191.919998,185.770004,190.149994,190.149994,30684400
224,2019-06-10,191.809998,195.369995,191.619995,192.580002,192.580002,26220900
225,2019-06-11,194.860001,196.000000,193.600006,194.809998,194.809998,26932900
226,2019-06-12,193.949997,195.970001,193.389999,194.190002,194.190002,18253200
227,2019-06-13,194.699997,196.789993,193.600006,194.149994,194.149994,21674600
228,2019-06-14,191.550003,193.589996,190.300003,192.740005,192.740005,18761500
229,2019-06-17,192.899994,194.960007,192.169998,193.889999,193.889999,14669100
230,2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000
231,2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200
232,2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000
233,2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47800600
234,2019-06-24,198.539993,200.160004,198.169998,198.580002,198.580002,18220400
235,2019-06-25,198.429993,199.259995,195.289993,195.570007,195.570007,21070300
236,2019-06-26,197.770004,200.990005,197.350006,199.800003,199.800003,26067500
237,2019-06-27,200.289993,201.570007,199.570007,199.740005,199.740005,20899700
238,2019-06-28,198.679993,199.500000,197.050003,197.919998,197.919998,31110600
239,2019-07-01,203.169998,204.490005,200.649994,201.550003,201.550003,27316700
240,2019-07-02,201.410004,203.130005,201.360001,202.729996,202.729996,16935200
241,2019-07-03,203.279999,204.440002,202.690002,204.410004,204.410004,11362000
242,2019-07-05,203.350006,205.080002,202.899994,204.229996,204.229996,17265500
243,2019-07-08,200.809998,201.399994,198.410004,200.020004,200.020004,25338600
244,2019-07-09,199.199997,201.509995,198.809998,201.240005,201.240005,20578000
245,2019-07-10,201.850006,203.729996,201.559998,203.229996,203.229996,17897100
246,2019-07-11,203.309998,204.389999,201.710007,201.750000,201.750000,20191800
247,2019-07-12,202.449997,204.000000,202.199997,203.300003,203.300003,17595200
248,2019-07-15,204.089996,205.869995,204.000000,205.210007,205.210007,16947400
249,2019-07-16,204.589996,206.110001,203.500000,204.500000,204.500000,16866800
250,2019-07-17,204.050003,205.089996,203.270004,203.350006,203.350006,14088300
251,2019-07-18,204.000000,205.880005,203.699997,205.660004,205.660004,15724494

In [32]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-18,191.779999,191.800003,189.929993,190.399994,187.545181,16393400
1,2018-07-19,189.690002,192.550003,189.690002,191.880005,189.003006,20286800
2,2018-07-20,191.779999,192.429993,190.169998,191.440002,188.569595,20676200
3,2018-07-23,190.679993,191.960007,189.559998,191.610001,188.737030,15989400
4,2018-07-24,192.449997,193.660004,192.050003,193.000000,190.106216,18697900

In [37]:
apple.tail(7)[["Adj Close"]].mean()

Adj Close    203.857145
dtype: float64

In [40]:
apple.describe()

,Open,High,Low,Close,Adj Close,Volume
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,192.479325,194.480715,190.559603,192.580437,191.239701,3.250815e+07
std,21.630732,21.758249,21.569369,21.644905,21.217154,1.387518e+07
min,143.979996,145.720001,142.000000,142.190002,141.039642,1.136200e+07
25%,174.872501,175.967499,173.747501,174.832496,174.111996,2.308030e+07
50%,194.279999,196.165001,192.599998,194.180000,193.582847,2.942395e+07
75%,209.312500,210.074997,206.832497,208.872497,206.713852,3.876472e+07
max,230.779999,233.470001,229.779999,232.070007,229.392090,9.624670e+07

In [41]:
url = 'https://www.contextures.com/xlSampleData01.html'

In [42]:
tabela = pd.read_html(url)

In [45]:
len(tabela)

1

In [46]:
tabela[0]

             0        1         2        3      4         5        6
0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
1     1/6/2018     East     Jones   Pencil     95      1.99   189.05
2    1/23/2018  Central    Kivell   Binder     50     19.99   999.50
3     2/9/2018  Central   Jardine   Pencil     36      4.99   179.64
4    2/26/2018  Central      Gill      Pen     27     19.99   539.73
5    3/15/2018     West   Sorvino   Pencil     56      2.99   167.44
6     4/1/2018     East     Jones   Binder     60      4.99   299.40
7    4/18/2018  Central   Andrews   Pencil     75      1.99   149.25
8     5/5/2018  Central   Jardine   Pencil     90      4.99   449.10
9    5/22/2018     West  Thompson   Pencil     32      1.99    63.68
10    6/8/2018     East     Jones   Binder     60      8.99   539.40
11   6/25/2018  Central    Morgan   Pencil     90      4.99   449.10
12   7/12/2018     East    Howard   Binder     29      1.99    57.71
13   7/29/2018     East    Parent   Binder     81     19.99  1619.19
14   8/15/2018     East     Jones   Pencil     35      4.99   174.65
15    9/1/2018  Central     Smith     Desk      2    125.00   250.00
16   9/18/2018     East     Jones  Pen Set     16     15.99   255.84
17   10/5/2018  Central    Morgan   Binder     28      8.99   251.72
18  10/22/2018     East     Jones      Pen     64      8.99   575.36
19   11/8/2018     East    Parent      Pen     15     19.99   299.85
20  11/25/2018  Central    Kivell  Pen Set     96      4.99   479.04
21  12/12/2018  Central     Smith   Pencil     67      1.29    86.43
22  12/29/2018     East    Parent  Pen Set     74     15.99  1183.26
23   1/15/2019  Central      Gill   Binder     46      8.99   413.54
24    2/1/2019  Central     Smith   Binder     87     15.00  1305.00
25   2/18/2019     East     Jones   Binder      4      4.99    19.96
26    3/7/2019     West   Sorvino   Binder      7     19.99   139.93
27   3/24/2019  Central   Jardine  Pen Set     50      4.99   249.50
28   4/10/2019  Central   Andrews   Pencil     66      1.99   131.34
29   4/27/2019     East    Howard      Pen     96      4.99   479.04
30   5/14/2019  Central      Gill   Pencil     53      1.29    68.37
31   5/31/2019  Central      Gill   Binder     80      8.99   719.20
32   6/17/2019  Central    Kivell     Desk      5    125.00   625.00
33    7/4/2019     East     Jones  Pen Set     62      4.99   309.38
34   7/21/2019  Central    Morgan  Pen Set     55     12.49   686.95
35    8/7/2019  Central    Kivell  Pen Set     42     23.95  1005.90
36   8/24/2019     West   Sorvino     Desk      3    275.00   825.00
37   9/10/2019  Central      Gill   Pencil      7      1.29     9.03
38   9/27/2019     West   Sorvino      Pen     76      1.99   151.24
39  10/14/2019     West  Thompson   Binder     57     19.99  1139.43
40  10/31/2019  Central   Andrews   Pencil     14      1.29    18.06
41  11/17/2019  Central   Jardine   Binder     11      4.99    54.89
42   12/4/2019  Central   Jardine   Binder     94     19.99  1879.06
43  12/21/2019  Central   Andrews   Binder     28      4.99   139.72